*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container

{
width: 100%;
height: 100vh;
background-color: blue;
display: flex;
align-items: center;
justify-content: center;
}
form
{ background: white;
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}
form h3
{ font-size: 25px;
    margin-bottom: 15px;
}

form input, select , textarea
{ border: solid black;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 10px;
    outline: none;
    background: lightgrey;
    font-size: medium;



}
form button
{
    padding: 9px;
    background: green;
    color: black;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 28px;
    margin-bottom: 10px;
}
form button.reset
{
    
    background: rgb(255, 17, 0);
    
}
form input.saugat
{
    size: 20px;
}
